<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BlockifyLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <BlockifyLauncher.Properties.Settings>
            <setting name="WidthProgram" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="HeightProgram" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>Palma</value>
            </setting>
            <setting name="UseRam" serializeAs="String">
                <value>3668</value>
            </setting>
            <setting name="ScreenWidth" serializeAs="String">
                <value>925</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>530</value>
            </setting>
            <setting name="FullScreanGame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameLauncher" serializeAs="String">
                <value>BlockifyLauncher</value>
            </setting>
            <setting name="JavaVersion" serializeAs="String">
                <value>javaw.exe</value>
            </setting>
            <setting name="HideLauncher" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VersionDisplay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserLastID" serializeAs="String">
                <value />
            </setting>
        </BlockifyLauncher.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.2.13" newVersion="1.4.2.13" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
