name: Build and Deploy WPF Application

on:
  push:
    branches:
      - master  
  pull_request:
    branches:
      - master  

jobs:
  build:
    runs-on: windows-latest  

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true  

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.101'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build project
        run: dotnet build  --configuration Release  

      - name: Publish project
        run: dotnet publish -c Release -o ./publish  

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Blockify-archive
          path: ./publish

      - name: Store Discord Bot Token
        run: |
          echo "Token is securely stored"
        env:
          DISCORD_BOT_TOKEN: ${{ secrets.DISCORD_BOT_TOKEN }}