name: Build and Deploy WPF Application

on:
  push:
    branches:
      - master  # Запускать пайплайн при пуше в ветку master
  pull_request:
    branches:
      - master  # Запускать пайплайн при создании PR в ветку master

jobs:
  build:
    runs-on: windows-latest  # Используем Windows для сборки WPF

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true  # Инициализировать и обновить подмодули

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.101'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build project
        run: dotnet build --configuration Release

      - name: Publish project
        run: dotnet publish -c Release -o ./publish

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Bloctify-archiv
          path: ./publish

      - name: Store Discord Bot Token
        run: |
          scp -r ./publish user@yourserver:/path/to/deploy
        env:
          DISCORD_BOT_TOKEN: ${{ secrets.DISCORD_BOT_TOKEN }}
